*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.recent-post::-webkit-scrollbar{
    background-color: transparent;
    max-width: 5px;
    max-height: 10px;
}
.recent-post::-webkit-scrollbar-thumb{
    background-color: rgb(33, 58, 60);
    border-radius: 10px;
}
::-webkit-scrollbar{
    background-color: white;
    max-width: 10px;
    max-height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(33, 58, 60);
    border-radius: 10px;
}
@media (max-width:640px) {
    .recent-post::-webkit-scrollbar{
        background-color: transparent;
        max-width: 5px;
        max-height: 10px;
    }
    .recent-post::-webkit-scrollbar-thumb{
        background-color: rgba(33, 58, 60, 0);
        border-radius: 10px;
    }
    ::-webkit-scrollbar{
        background-color: rgba(255, 255, 255, 0.002);
        max-width: 10px;
        max-height: 5px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgba(33, 58, 60, 0);
        border-radius: 10px;
    }
}